<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.MonthChainGroupOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.MonthChainGroupOrder">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="product_line_code" property="productLineCode" />
        <result column="product_line_name" property="productLineName" />
        <result column="brand_cdde" property="brandCdde" />
        <result column="brand_name" property="brandName" />
        <result column="xw_code" property="xwCode" />
        <result column="xw_name" property="xwName" />
        <result column="series_code" property="seriesCode" />
        <result column="series_name" property="seriesName" />
        <result column="product_code" property="productCode" />
        <result column="product_name" property="productName" />
        <result column="trade_code" property="tradeCode" />
        <result column="trade_name" property="tradeName" />
        <result column="wg_code" property="wgCode" />
        <result column="wg_name" property="wgName" />
        <result column="order_num" property="orderNum" />
        <result column="order_amt" property="orderAmt" />
        <result column="submit_emp" property="submitEmp" />
        <result column="submit_time" property="submitTime" />
        <result column="add1" property="add1" />
        <result column="add2" property="add2" />
        <result column="add3" property="add3" />
        <result column="add4" property="add4" />
        <result column="add5" property="add5" />
        <result column="add6" property="add6" />
        <result column="add7" property="add7" />
        <result column="add8" property="add8" />
        <result column="add9" property="add9" />
        <result column="add10" property="add10" />
    </resultMap>

    <resultMap id="wgGrabIncomeMapper" type="com.haier.hailian.contract.entity.MeshGrabEntity">
        <result column="wg_code" property="meshCode" />
        <result column="wg_name" property="meshName" />
        <result column="income" property="income" />
        <result column="product_code" property="productCode" />
        <result column="product_stru" property="productStru" />
    </resultMap>

    <select id="getProductByContract" resultType="java.lang.String">
        select DISTINCT product_model_code from
        z_gambling_contracts_product_modle gpm
        join z_product_info zpi on gpm.product_model_code=zpi.product_model_code
        where gpm.contracts_id=#{contractId}
        and zpi.period_code in
        <foreach collection="yearMonth" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
        and zpi.product_stru=#{productStru}
    </select>

    <!--查询网格抢单收入-->
    <select id="queryMeshGrabIncome" parameterType="com.haier.hailian.contract.dto.grab.TyMasterGrabQueryDto"
            resultMap="wgGrabIncomeMapper" >
        select wg_code,wg_name,product_stru, sum(income) as 'income'from(
        select  mcgo.wg_code,mcgo.wg_name,mcgo.order_amt as income,mcgo.product_code, zpi.product_stru
        FROM month_chain_group_order mcgo
        join (select xw_code from sys_xw_master where master_code=#{contractOwner}) xwm
        on mcgo.xw_code=xwm.xw_code
        join (select DISTINCT jyt_code, product_line_code  from sys_net where xw_code=#{loginXwCode}) sn
        on mcgo.wg_code=sn.jyt_code and mcgo.product_line_code=sn.product_line_code
        join z_product_info zpi on mcgo.product_code=zpi.product_model_code and mcgo.xw_code=zpi.xw_code
        where mcgo.year=#{year} and mcgo.month IN
        <foreach collection="month" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
        )base
        GROUP BY wg_code,wg_name,product_stru
    </select>


</mapper>
