<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.MonthChainGroupOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.MonthChainGroupOrder">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="product_line_code" property="productLineCode" />
        <result column="product_line_name" property="productLineName" />
        <result column="brand_cdde" property="brandCdde" />
        <result column="brand_name" property="brandName" />
        <result column="xw_code" property="xwCode" />
        <result column="xw_name" property="xwName" />
        <result column="series_code" property="seriesCode" />
        <result column="series_name" property="seriesName" />
        <result column="product_code" property="productCode" />
        <result column="product_name" property="productName" />
        <result column="trade_code" property="tradeCode" />
        <result column="trade_name" property="tradeName" />
        <result column="wg_code" property="wgCode" />
        <result column="wg_name" property="wgName" />
        <result column="order_num" property="orderNum" />
        <result column="order_amt" property="orderAmt" />
        <result column="submit_emp" property="submitEmp" />
        <result column="submit_time" property="submitTime" />
        <result column="add1" property="add1" />
        <result column="add2" property="add2" />
        <result column="add3" property="add3" />
        <result column="add4" property="add4" />
        <result column="add5" property="add5" />
        <result column="add6" property="add6" />
        <result column="add7" property="add7" />
        <result column="add8" property="add8" />
        <result column="add9" property="add9" />
        <result column="add10" property="add10" />
        <result column="is_gzd" property="isGzd" />

    </resultMap>

    <resultMap id="wgGrabIncomeMapper" type="com.haier.hailian.contract.entity.MeshGrabEntity">
        <result column="wg_code" property="meshCode" />
        <result column="wg_name" property="meshName" />
        <result column="income" property="income" />
        <result column="product_code" property="productCode" />
        <result column="product_stru" property="productStru" />
    </resultMap>

    <select id="getProductByContract" resultType="java.lang.String">
        select DISTINCT product_model_code from
        z_gambling_contracts_product_modle gpm
        join z_product_info zpi on gpm.product_model_code=zpi.product_model_code
        where gpm.contracts_id=#{contractId}
        and zpi.period_code in
        <foreach collection="yearMonth" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
        and zpi.product_stru=#{productStru}
    </select>

    <!--查询网格E2E收入-->
    <select id="queryMeshE2EIncome" parameterType="com.haier.hailian.contract.dto.grab.TyMasterGrabQueryDto"
            resultMap="wgGrabIncomeMapper" >
        select wg_code, wg_name, sum(income) as 'income'from(
        select  mr.first_region_code as 'wg_code',mr.first_region_name as 'wg_name',mr.sales_amount as income
        FROM month_retail mr
        join (select xw_code from sys_xw_master where master_code=#{contractOwner}) xwm
        on mr.smb_code=xwm.xw_code
        join (select DISTINCT jyt_code from sys_net where xw_code=#{loginXwCode}) sn
        on mr.first_region_code=sn.jyt_code
        where mr.schedule_year=#{year} and mr.schedule_month IN
        <foreach collection="month" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
        ) base
        GROUP BY wg_code,wg_name
    </select>

    <!--查询网格抢单收入-->
    <select id="queryMeshGrabIncome" parameterType="com.haier.hailian.contract.dto.grab.TyMasterGrabQueryDto"
            resultMap="wgGrabIncomeMapper" >
        select wg_code,wg_name, product_stru, sum(income) as 'income'from(
        select  mcgo.wg_code,mcgo.wg_name,mcgo.order_amt as income,mcgo.product_code, mcgo.is_gzd as product_stru
        FROM month_chain_group_order mcgo
        join (select xw_code from sys_xw_master where master_code=#{contractOwner}) xwm
        on mcgo.xw_code=xwm.xw_code
        join (select DISTINCT jyt_code from sys_net where xw_code=#{loginXwCode}) sn
        on mcgo.wg_code=sn.jyt_code
        where mcgo.year=#{year} and mcgo.month IN
        <foreach collection="month" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
        ) base
        GROUP BY wg_code,wg_name,product_stru
    </select>

    <!--查询网格抢单收入按型号汇总-->
    <select id="sumStruMeshGrabIncome" parameterType="com.haier.hailian.contract.dto.grab.TyMasterGrabQueryDto"
            resultMap="wgGrabIncomeMapper" >
        select product_stru, sum(income) as 'income'from(
        select  mcgo.wg_code,mcgo.wg_name,mcgo.order_amt as income,mcgo.product_code, mcgo.is_gzd as product_stru
        FROM month_chain_group_order mcgo
        join (select xw_code from sys_xw_master where master_code=#{contractOwner}) xwm
        on mcgo.xw_code=xwm.xw_code
        join (select DISTINCT jyt_code from sys_net where xw_code=#{loginXwCode}) sn
        on mcgo.wg_code=sn.jyt_code
        where mcgo.year=#{year} and mcgo.month IN
        <foreach collection="month" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
        )base
        GROUP BY product_stru
    </select>

<select id="tyExport">
    select ci.chain_code, ci.chain_name, zc.parent_id,zc.start_date,zc.end_date,
    zc.id,zc.org_code,zc.org_name,zc.create_code,zc.create_name, fac.* from (
        select contract_id,
        Max(case base.factor_type when '01' then base.inc else 0 end ) '底线收入',
        Max(case base.factor_type when '01' then base.highPer else 0 end ) '底线高端占比',
        Max(case base.factor_type when '02' then base.inc else 0 end ) '抢单收入',
        Max(case base.factor_type when '02' then base.highPer else 0 end ) '抢单高端占比'
        from(
        select zcf.contract_id ,zcf.factor_type,
        Max(case zcf.factor_code when 'T01001' then zcf.factor_value else 0 end ) 'inc',
        max(case zcf.factor_code when 'T03001' then zcf.factor_value else 0 end) 'highPer'
        from z_contracts zc
          join z_contracts_factor zcf on zc.id=zcf.contract_id
        where zc.parent_id=288 and zc.contract_type='20' and factor_type in('01','02')
        GROUP BY zcf.contract_id,zcf.factor_type
          )base
        group by contract_id) fac
      join z_contracts zc on fac.contract_id=zc.id
      join z_hr_chain_info ci on  zc.chain_code=ci.chain_code

</select>

    <select id="cdExport">
    select ci.chain_code, ci.chain_name, zc.parent_id,zc.start_date,zc.end_date,
    zc.id,zc.org_code,zc.org_name,zc.create_code,zc.create_name, fac.* from (
        select contract_id,
        Max(case base.factor_type when '01' then base.inc else 0 end ) '底线收入',
        Max(case base.factor_type when '01' then base.highPer else 0 end ) '底线高端占比',
        Max(case base.factor_type when '02' then base.inc else 0 end ) '抢单收入',
        Max(case base.factor_type when '02' then base.highPer else 0 end ) '抢单高端占比'
        from(
        select zcf.contract_id ,zcf.factor_type,
        Max(case zcf.factor_code when 'T01001' then zcf.factor_value else 0 end ) 'inc',
        max(case zcf.factor_code when 'T03001' then zcf.factor_value else 0 end) 'highPer'
        from z_contracts zc
          join z_contracts_factor zcf on zc.id=zcf.contract_id
        where zc.parent_id=288 and zc.contract_type='20' and factor_type in('01','02')
        GROUP BY zcf.contract_id,zcf.factor_type
          )base
        group by contract_id) fac
      join z_contracts zc on fac.contract_id=zc.id
      join z_hr_chain_info ci on  zc.chain_code=ci.chain_code

</select>

</mapper>
