<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.SysXiaoweiEhrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.XiaoweiEhr">
        <id column="id" property="id" />
        <result column="xwCode" property="xwCode" />
        <result column="xwName" property="xwName" />
        <result column="xwMasterCode" property="xwMasterCode" />
        <result column="xwMasterName" property="xwMasterName" />
        <result column="ptCode" property="ptCode" />
        <result column="ptName" property="ptName" />
        <result column="buCode" property="buCode" />
        <result column="buName" property="buName" />
        <result column="xwGroupType" property="xwGroupType" />
        <result column="xwGroupName" property="xwGroupName" />
        <result column="xwStyle" property="xwStyle" />
        <result column="xwStyleCode" property="xwStyleCode" />
        <result column="xwType" property="xwType" />
        <result column="xwTypeCode" property="xwTypeCode" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, xwCode,xwName,xwMasterCode,xwMasterName,ptCode,ptName,buCode,buName,
        xwGroupType,xwGroupName,xwStyle,xwStyleCode,xwType,xwTypeCode
    </sql>
    <select id="selectMarket" resultMap="BaseResultMap">
        select
         id, xwCode,SUBSTR(substring(xwName,4) ,1 , CHAR_LENGTH(substring(xwName,4))-4) as xwName,xwMasterCode,xwMasterName,ptCode,ptName,buCode,buName,
        xwGroupType,xwGroupName,xwStyle,xwStyleCode,xwType,xwTypeCode
        from sys_xiaowei_ehr
        where ptCode='V0156' and xwGroupType='2'
    </select>

</mapper>
