<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.SysXiaoweiEhrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.XiaoweiEhr">
        <id column="id" property="id" />
        <result column="xwCode" property="xwCode" />
        <result column="xwName" property="xwName" />
        <result column="xwMasterCode" property="xwMasterCode" />
        <result column="xwMasterName" property="xwMasterName" />
        <result column="ptCode" property="ptCode" />
        <result column="ptName" property="ptName" />
        <result column="buCode" property="buCode" />
        <result column="buName" property="buName" />
        <result column="xwGroupType" property="xwGroupType" />
        <result column="xwGroupName" property="xwGroupName" />
        <result column="xwStyle" property="xwStyle" />
        <result column="xwStyleCode" property="xwStyleCode" />
        <result column="xwType" property="xwType" />
        <result column="xwTypeCode" property="xwTypeCode" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, xwCode,xwName,xwMasterCode,xwMasterName,ptCode,ptName,buCode,buName,
        xwGroupType,xwGroupName,xwStyle,xwStyleCode,xwType,xwTypeCode
    </sql>
    <select id="selectMarket" resultMap="BaseResultMap">
        select
         id, xwCode,SUBSTR(substring(xwName,4) ,1 , CHAR_LENGTH(substring(xwName,4))-4) as xwName,xwMasterCode,xwMasterName,ptCode,ptName,buCode,buName,
        xwGroupType,xwGroupName,xwStyle,xwStyleCode,xwType,xwTypeCode
        from sys_xiaowei_ehr
        where ptCode='V0156' and xwGroupType='2'
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" parameterType="com.haier.hailian.contract.entity.XiaoweiEhr" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_xiaowei_ehr
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="xwCode != null and xwCode != ''">
                and xwCode = #{xwCode}
            </if>
            <if test="xwName != null and xwName != ''">
                and xwName = #{xwName}
            </if>
            <if test="xwMasterCode != null and xwMasterCode != ''">
                and xwMasterCode = #{xwMasterCode}
            </if>
            <if test="xwMasterName != null and xwMasterName != ''">
                and xwMasterName = #{xwMasterName}
            </if>
            <if test="ptCode != null and ptCode != ''">
                and ptCode = #{ptCode}
            </if>
            <if test="ptName != null and ptName != ''">
                and ptName = #{ptName}
            </if>
            <if test="buCode != null and buCode != ''">
                and buCode = #{buCode}
            </if>
            <if test="buName != null and buName != ''">
                and buName = #{buName}
            </if>
            <if test="xwGroupType != null and xwGroupType != ''">
                and xwGroupType = #{xwGroupType}
            </if>
            <if test="xwGroupName != null and xwGroupName != ''">
                and xwGroupName = #{xwGroupName}
            </if>
            <if test="xwStyle != null and xwStyle != ''">
                and xwStyle = #{xwStyle}
            </if>
            <if test="xwStyleCode != null and xwStyleCode != ''">
                and xwStyleCode = #{xwStyleCode}
            </if>
            <if test="xwType != null and xwType != ''">
                and xwType = #{xwType}
            </if>
            <if test="xwTypeCode != null and xwTypeCode != ''">
                and xwTypeCode = #{xwTypeCode}
            </if>
        </where>
    </select>

</mapper>
