<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.TargetBasicDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.TargetBasic">
        <id column="id" property="id" />
        <result column="target_code" property="targetCode" />
        <result column="target_name" property="targetName" />
        <result column="target_des" property="targetDes" />
        <result column="target_unit" property="targetUnit" />
        <result column="target_to" property="targetTo" />
        <result column="judan_flag" property="judanFlag" />
        <result column="target_pt_code" property="targetPtCode" />
        <result column="target_diff_type" property="targetDiffType" />
        <result column="target_dim" property="targetDim" />
        <result column="target_process_type" property="targetProcessType" />
        <result column="target_xw_category_code" property="targetXwCategoryCode" />
        <result column="target_xw_category_name" property="targetXwCategoryName" />
        <result column="target_DSLogic_code" property="targetDslogicCode" />
        <result column="targe_year" property="targeYear" />
        <result column="target_month" property="targetMonth" />
        <result column="target_model" property="targetModel" />
        <result column="target_model_code" property="targetModelCode" />
        <result column="target_bottom_line" property="targetBottomLine" />
        <result column="target_jd_line" property="targetJdLine" />
        <result column="target_logic" property="targetLogic" />
        <result column="target_weight" property="targetWeight" />
        <result column="target_region_code" property="targetRegionCode" />
        <result column="target_region_name" property="targetRegionName" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="period_code" property="periodCode" />
        <result column="chain_code" property="chainCode" />
        <result column="chain_name" property="chainName" />
    </resultMap>
    <sql id="Base_Column_List" >
        target.id, target.target_code, target.target_name, target.target_des, target.target_unit, target.target_to,
        target.judan_flag, target.target_pt_code, target.target_diff_type, target.target_dim, target.target_process_type, target.target_xw_category_code,
        target.target_xw_category_name,target.target_DSLogic_code,target.targe_year,target_month,target.target_model,target.target_model_code,ROUND(target.target_bottom_line,2) as target_bottom_line,
        ROUND(target.target_jd_line,2) as target_jd_line,target.target_logic,target.target_weight,target.target_region_code,target.target_region_name,target.role_code,target.role_name,target.period_code,target.chain_code,target.chain_name
    </sql>
    <select id="selectTarget" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_target_basic target
        <where>
            <if test=" targeYear != null ">
                and targe_year = #{targeYear}
            </if>
            <if test=" targetMonth != null ">
                and target_month = #{targetMonth}
            </if>
            <if test=" chainCode != null ">
                and chain_code = #{chainCode}
            </if>
            <if test=" targetDiffType != null ">
                and target_diff_type = #{targetDiffType}
            </if>
            <if test=" targetDim != null ">
                and target_dim = #{targetDim}
            </if>
            <if test=" judanFlag != null ">
                and judan_flag = #{judanFlag}
            </if>
            <if test=" periodCode != null ">
                and period_code = #{periodCode}
            </if>
            <if test=" targetPtCode != null ">
                and target_pt_code = #{targetPtCode}
            </if>
            <if test=" targetXwCategoryCode != null ">
                and target_xw_category_code like CONCAT('%|', #{targetXwCategoryCode,jdbcType=VARCHAR}, '|%')
            </if>
            <if test=" roleCode != null ">
                and role_code like CONCAT('%|', #{roleCode,jdbcType=VARCHAR}, '|%')
            </if>
            order by target_code
        </where>
    </select>
    <!--<select id="selectChainTarget" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List" />-->
        <!--from z_target_basic target-->
        <!--RIGHT JOIN  z_chain_target c-->
        <!--on c.chain_code=target.chain_code-->
        <!--and c.target_code = target.target_code-->
        <!--where target.chain_code= #{chainCode}-->
        <!--and target.period_code= #{periodCode}-->
    <!--</select>-->

</mapper>
