<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.TChainAttrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.TChainAttr">
        <id column="id" property="id" />
        <result column="chain_attr_code" property="chainAttrCode" />
        <result column="chain_attr_name" property="chainAttrName" />
        <result column="chain_attr_english" property="chainAttrEnglish" />
    </resultMap>

</mapper>
