<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.TOdsMinbuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.TOdsMinbu">
        <id column="id" property="id" />
        <result column="xwCode" property="xwCode" />
        <result column="xwName" property="xwName" />
        <result column="xwMasterCode" property="xwMasterCode" />
        <result column="xwMasterName" property="xwMasterName" />
        <result column="littleXwCode" property="littleXwCode" />
        <result column="littleXwName" property="littleXwName" />
        <result column="littleXwMasterCode" property="littleXwMasterCode" />
        <result column="littleXwMasterName" property="littleXwMasterName" />
        <result column="ptCode" property="ptCode" />
        <result column="ptName" property="ptName" />
        <result column="xwType3" property="xwType3" />
        <result column="xwType5" property="xwType5" />
        <result column="xwType3Code" property="xwType3Code" />
        <result column="xwType5Code" property="xwType5Code" />
        <result column="userXwCode" property="userXwCode" />
        <result column="userXwName" property="userXwName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="queryMinbuByEmp" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select base.* from t_ods_minbu base join t_ods_minbu_emp ome on base.littleXwCode=ome.littleXwCode
        where ome.littleEmpsn=#{empSn}
    </select>


    <select id="getListByPtCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_ods_minbu base
        where ptCode like "%"#{ptCode}"%" and xwType5Code != '|2|'
    </select>


    <select id="getListByIsTY" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_ods_minbu base
        where ptCode like "%"#{ptCode}"%" and xwType5Code = '|2|'
    </select>


    <select id="getListByCodeList" resultType="java.lang.String">
        select littleXwMasterCode from t_ods_minbu base
        where ptCode like "%"#{ptCode}"%" and xwType5Code != '|2|'
        and littleXwCode in
        <foreach collection="list" item="item" index="index" open="(" close=")"  separator="," >
            #{item}
        </foreach>
    </select>

    <select id="selectMarket"  resultMap="BaseResultMap">
        select  o.id,o.xwCode,SUBSTR(substring(o.xwName,4) ,1 , CHAR_LENGTH(substring(o.xwName,4))-4) as xwName,o.xwMasterCode,o.xwMasterName,o.littleXwCode,o.littleXwName,o.littleXwMasterCode,o.littleXwMasterName,
                 o.ptCode,o.ptName,o.xwType3,o.xwType5,o.xwType3Code,o.xwType5Code,o.userXwCode,o.userXwName,o.create_time
        from t_ods_minbu o
        LEFT JOIN z_node_target_percent_info t
        on t.node_code=o.littleXwCode
        and o.xwType3Code like '%|4|%'
        and o.xwType5Code like '%|2|%'
        where t.lq_code=#{chainCode}
    </select>

    <select id="getPartListByPtCode" parameterType="java.lang.String" resultType="com.haier.hailian.contract.dto.ExportChainUnitInfo">
        select xwName,littleXwName from t_ods_minbu base
        where ptCode like "%"#{ptCode}"%" and xwType5Code != '|2|'
    </select>
    <select id="queryMinbuByOrgCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select base.* from t_ods_minbu base
        where base.littleXwCode=#{orgCode}
    </select>


    <select id="getOtherListByPtCode" parameterType="java.util.Map" resultMap="BaseResultMap">
       select * from t_ods_minbu a
       where a.littleXwCode not in (select node_code from z_node_target_percent_info b where b.share_percent is not null and b.lq_code=#{chainCode})
       and a.ptCode like "%"#{ptCode}"%" and a.xwType5Code != '|2|'
    </select>

</mapper>
