<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZChainShareDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZChainShare">
        <id column="id" property="id" />
        <result column="chain_code" property="chainCode" />
        <result column="share_expression" property="shareExpression" />
        <result column="share_percent1" property="sharePercent1" />
        <result column="share_percent2" property="sharePercent2" />
    </resultMap>

</mapper>
