<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZContractsFactorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZContractsFactor">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="factor_code" property="factorCode" />
        <result column="factor_name" property="factorName" />
        <result column="factor_value" property="factorValue" />
        <result column="factor_type" property="factorType" />
        <result column="factor_unit" property="factorUnit" />
        <result column="factor_directon" property="factorDirecton" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="mesh_code" property="meshCode" />
        <result column="mesh_name" property="meshName" />
        <result column="is_lq_target" property="isLqTarget" />
    </resultMap>

    <resultMap id="ResultMap1" type="com.haier.hailian.contract.dto.ChainGroupTargetDTO">
        <result column="factor_code" property="targetCode" />
        <result column="factor_name" property="targetName" />
        <result column="factor_unit" property="targetUnit" />
        <result column="is_lq_target" property="isLqTarget" />
        <result column="bottom" property="bottom" />
        <result column="E2E" property="E2E" />
        <result column="grab" property="grab" />
    </resultMap>

    <select id="selectChainFactorByContractId" resultMap="ResultMap1">
        select factor_code,factor_name,factor_unit,is_lq_target,MAX(CASE factor_type WHEN '01' THEN factor_value  END ) bottom,
                MAX(CASE factor_type WHEN '02' THEN factor_value  END ) grab,
                MAX(CASE factor_type WHEN '03' THEN factor_value  END ) E2E
        from z_contracts_factor
        where region_code is NULL
        and contract_id = #{contractId}
        GROUP BY factor_code;
    </select>

</mapper>
