<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZContractsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZContracts">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="contract_name" property="contractName" />
        <result column="contract_type" property="contractType" />
        <result column="status" property="status" />
        <result column="share_space" property="shareSpace" />
        <result column="chain_code" property="chainCode" />
        <result column="region_code" property="regionCode" />
        <result column="join_time" property="joinTime" />
        <result column="join_time_str" property="joinTimeStr" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="start_date_str" property="startDateStr" />
        <result column="end_date_str" property="endDateStr" />
        <result column="xiaowei_code" property="xiaoweiCode" />
        <result column="create_code" property="createCode" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="org_code" property="orgCode" />
        <result column="org_name" property="orgName" />
        <result column="org_type" property="orgType" />
        <result column="open_valid" property="openValid" />
        <result column="share_percent" property="sharePercent" />
        <result column="group_id" property="groupId" />
        <result column="open_valid" property="openValid" />
    </resultMap>
    <sql id="Base_Column_List">
        id,parent_id,contract_name,contract_type,status,share_space,chain_code,
        region_code,join_time,DATE_FORMAT(join_time,'%Y-%m-%d %H:%i:%s') as join_time_str,start_date,DATE_FORMAT(start_date,'%Y-%m-%d %H:%i:%s') as start_date_str,
        end_date,DATE_FORMAT(end_date,'%Y-%m-%d %H:%i:%s') as end_date_str,xiaowei_code,create_code,
        create_name,create_time,org_code,org_name,org_type,group_id,open_valid
    </sql>
    <select id="selectContractToUpdate" resultType="java.lang.String">
        select GROUP_CONCAT(id) from z_contracts base
        where contract_type=10
        and status = '0'
        and not EXISTS (
            select 1 from z_contracts where
                        parent_id=base.id and contract_type in ('20','30') and status = '1'
        )
    </select>
    <select id="selectByContractId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        where id = #{contractId}
    </select>
    <select id="selectContractList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        <where>
            <if test=" chainCode != null and chainCode != '' ">
                and chain_code = #{chainCode}
            </if>
            <if test=" status != null and status != '' ">
                and status = #{status}
            </if>
            <if test=" startDate != null and startDate != '' ">
                and DATE_FORMAT(start_date,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>
            <if test=" endDate != null and endDate != ''">
                and DATE_FORMAT(#{endDate},'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(end_date,'%Y-%m-%d')
            </if>
            <if test=" userCode != null and userCode != '' ">
                and create_code = #{userCode}
            </if>
            <if test="chainCodeList != null">
                and chain_code in
                <foreach collection="chainCodeList" open="(" close=")" separator=","
                         item="chainCodeList" index="i">
                    #{chainCodeList}
                </foreach>
            </if>
            and contract_type='10'
            order by id desc
        </where>
    </select>

    <select id="selectMyGrabContract" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        <where>
            <if test=" chainCode != null and chainCode != '' ">
                and chain_code = #{chainCode}
            </if>
            <if test=" status != null and status != '' ">
                and status = #{status}
            </if>
            <if test=" startDate != null and startDate != '' ">
                and DATE_FORMAT(start_date,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>
            <if test=" endDate != null and endDate != ''">
                and DATE_FORMAT(#{endDate},'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(end_date,'%Y-%m-%d')
            </if>
            and create_code = #{userCode}
            and status = '1'
            and contract_type in ('20','30')
            order by id desc
        </where>
    </select>
    <select id="selectToGrabContract" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts base
        <where>
            <if test=" chainCode != null and chainCode != '' ">
                and chain_code = #{chainCode}
            </if>
            <if test=" startDate != null and startDate != '' ">
                and DATE_FORMAT(start_date,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>
            <if test=" endDate != null and endDate != ''">
                and DATE_FORMAT(#{endDate},'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(end_date,'%Y-%m-%d')
            </if>
            <if test="chainCodeList != null">
                and chain_code in
                <foreach collection="chainCodeList" open="(" close=")" separator=","
                         item="chainCodeList" index="i">
                    #{chainCodeList}
                </foreach>
            </if>
            and not EXISTS (select 1 from z_contracts where
                parent_id=base.id and contract_type in ('20','30') and status = '1' and org_code = #{littleXwCode}
                )
            and contract_type='10' and status = '0'
            order by id desc
        </where>
    </select>
    <select id="selectKickedOutContract" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts base
        <where>
            <if test=" chainCode != null and chainCode != '' ">
                and chain_code = #{chainCode}
            </if>
            <if test=" startDate != null and startDate != '' ">
                and DATE_FORMAT(start_date,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>
            <if test=" endDate != null and endDate != ''">
                and DATE_FORMAT(#{endDate},'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(end_date,'%Y-%m-%d')
            </if>
            and EXISTS (
            select 1 from z_contracts
            where parent_id=base.id and contract_type in ('20','30') and status = '3'
            and org_code = #{littleXwCode}
            )
            and NOT EXISTS (
            select 1 from z_contracts
            where parent_id=base.id and contract_type in ('20','30') and status = '1'
            and org_code = #{littleXwCode}
            )
            and contract_type='10' and status = '1'
            order by id desc
        </where>
    </select>

    <select id="selectUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        where contract_type !='10'
        and parent_id = #{id}
    </select>

    <select id="selectAllContracts" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        where contract_type ='10'
        and status = #{status}
--         and group_id is null
    </select>

    <select id="selectAllContractsById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        where parent_id =#{pId}
    </select>


    <select id="selectByGID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        where create_code =#{userCode}
        and group_id = #{groupId}
        and parent_id != 0
    </select>

    <select id="selectContractsViewForCD" resultType="com.haier.hailian.contract.dto.ContractViewDataCD">
        SELECT
          node.id,
          node.node_code AS nodeCode,
          IF(
            t2.create_name IS NULL,
            node.node_name,
            (
              CONCAT(
                node.node_name,
                '(',
                t2.create_name,
                ')'
              )
            )
          ) AS nodeName,
          t2.contractId,
          IFNULL(t2.`contract_name`, '未抢入') AS contractName,
          IFNULL(t2.`factor_name`, '未抢入') AS targetName,
          IFNULL(t2.`factor_value`, '未抢入') AS targetValue,
          IFNULL(t2.`factor_unit`, '未抢入') AS targetUnit
        FROM
          (SELECT
            node.*
          FROM
            z_node_target_percent_info node
          WHERE node.share_percent IS NOT NULL
            AND node.lq_code IN
            (SELECT
              chain_code
            FROM
              z_contracts
            WHERE id = #{contractId})) node
          LEFT JOIN
            (SELECT
              zc.id AS contractId,
              zc.`contract_name`,
              zc.`org_code`,
              zc.`org_name`,
              zc.`create_name`,
              cf.`factor_code`,
              cf.`factor_name`,
              cf.`factor_value`,
              cf.`factor_unit`
            FROM
              z_contracts zc
              JOIN z_contracts_factor cf
                ON cf.`contract_id` = zc.`id`
            WHERE zc.parent_id = #{contractId}
              AND zc.`status` = '1'
              AND zc.contract_type = '30') t2
            ON node.`node_code` = t2.org_code
    </select>

    <select id="selectContractsViewForTY" resultType="com.haier.hailian.contract.dto.ContractViewDataTY">
        SELECT
          zc.`contract_name`,
          xw.`xwName`,
          cf.*
        FROM
          z_contracts_factor cf
          JOIN z_contracts zc
            ON cf.`contract_id` = zc.id
            JOIN sys_xiaowei_ehr xw ON zc.`xiaowei_code` = xw.`xwCode`
        WHERE cf.`contract_id` IN
          (SELECT
            t1.id
          FROM
            z_contracts t1
          WHERE t1.contract_type = '20' AND t1.`status` = '1' AND t1.`parent_id` = #{contractId})
        ORDER BY xwName, factor_code,factor_type
    </select>

    <select id="selectContractsViewForTYSum" resultType="com.haier.hailian.contract.dto.FactorConfigDTO">
        SELECT
          cf.`factor_code` AS factorCode, cf.`factor_name` AS factorName ,cf.`factor_unit` AS factorUnit,
          IF(
            cf.factor_unit = '%',
            REPLACE(FORMAT(AVG(cf.factor_value), 2),',', ''),
            REPLACE(FORMAT(SUM(cf.factor_value), 2),',','')
          ) AS factorValue
        FROM
          z_contracts_factor cf
        WHERE cf.factor_type='02' and cf.`contract_id` IN
          (SELECT
            t1.id
          FROM
            z_contracts t1
          WHERE t1.contract_type = '20' AND t1.`parent_id` = #{contractId})
           GROUP BY factor_code
    </select>

    <select id="selectContractsTitleForTY" resultType="com.haier.hailian.contract.dto.TargetTitleTYDTO">
        SELECT
          cf.factor_code AS targetCode,
          cf.factor_name AS targetName,
          cf.factor_unit AS targetUnit
        FROM
          z_contracts_factor cf
        WHERE cf.`contract_id` IN
          (SELECT
            t1.id
          FROM
            z_contracts t1
          WHERE t1.contract_type = '20'
            AND t1.`status` = '1'
            AND t1.`parent_id` = #{contractId})
         GROUP BY factor_code;
    </select>

    <select id="queryTyGrabList" resultMap="BaseResultMap" >
        select * from z_contracts base where contract_type='10' and status='0'
        <if test=" startDate != null and startDate != '' ">
            and DATE_FORMAT(start_date,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startDate},'%Y-%m-%d')
        </if>
        <if test=" endDate != null and endDate != ''">
            and DATE_FORMAT(#{endDate},'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(end_date,'%Y-%m-%d')
        </if>
        <if test="chainCodes!=null">
            and chain_code in
            <foreach collection="chainCodes" item="item" index="index" open="(" close=")"  separator="," >
                #{item}
            </foreach>
        </if>
        and not EXISTS (select 1 from z_contracts where
        parent_id=base.id and contract_type='20' and org_code=#{loginBuCode}
        )
    </select>



    <select id="getContractSize" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        z_node_target_percent_info node
        where node.share_percent is not null and node.lq_code in (select chain_code from z_contracts where id=#{contractId})

    </select>

    <select id="getContractSize2" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        z_node_target_percent_info node
        where node.share_percent is null and node.lq_code in (select chain_code from z_contracts where id=#{contractId})

    </select>
    <select id="selectByTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from z_contracts
        where join_time <![CDATA[ >= ]]> #{startTime}
        and join_time <![CDATA[ <= ]]> #{endTime}
        and group_id = #{groupId}
        and parent_id = 0
    </select>

    <select id="selectHomePageContract" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from (  select *
                from z_contracts
                where create_code = #{userCode}
                and status = '1'
                and contract_type in ('20','30')
                and DATE_FORMAT(create_time,'%Y%m')=#{month}
             UNION all (
                select *
                from z_contracts c
                where create_code = #{userCode}
                and contract_type='10'
                and DATE_FORMAT(create_time,'%Y%m')=#{month}
                and not EXISTS (
                    select 1
                    from z_contracts
                    where create_code = #{userCode}
                    and status = '1'
                    and contract_type in ('20','30')
                    and parent_id = c.id
                )
        )) a
        ORDER BY a.create_time DESC
    </select>
</mapper>
