<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZContractsFactorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZContractsFactor">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="factor_code" property="factorCode" />
        <result column="factor_name" property="factorName" />
        <result column="factor_value" property="factorValue" />
        <result column="factor_type" property="factorType" />
        <result column="factor_unit" property="factorUnit" />
        <result column="factor_directon" property="factorDirecton" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="mesh_code" property="meshCode" />
        <result column="mesh_name" property="meshName" />
        <result column="is_lq_target" property="isLqTarget" />
    </resultMap>

    <resultMap id="ResultMap1" type="com.haier.hailian.contract.dto.ChainGroupTargetDTO">
        <result column="factor_code" property="targetCode" />
        <result column="factor_name" property="targetName" />
        <result column="factor_unit" property="targetUnit" />
        <result column="is_lq_target" property="isLqTarget" />
        <result column="bottom" property="bottom" />
        <result column="E2E" property="E2E" />
        <result column="grab" property="grab" />
    </resultMap>

    <select id="selectChainFactorByContractId" resultMap="ResultMap1">
        select factor_code,factor_name,factor_unit,is_lq_target,MAX(CASE factor_type WHEN '01' THEN factor_value  END ) bottom,
                MAX(CASE factor_type WHEN '02' THEN factor_value  END ) grab,
                MAX(CASE factor_type WHEN '03' THEN factor_value  END ) E2E
        from z_contracts_factor
        where region_code is NULL
        and contract_id = #{contractId}
        GROUP BY factor_code;
    </select>

    <select id="getFactorGrabList" resultType="com.haier.hailian.contract.dto.FactorGrabResDTO">
        SELECT
          t1.*,
          t2.*
        FROM
          (SELECT
            f.id AS factId,
            f.`contract_id` AS grabId,
            f.`factor_code` AS factorCode,
            f.`factor_name` AS factorName,
            f.`factor_value` AS factorValue,
            f.`factor_unit` AS factorUnit,
            IF(
              f.`factor_directon` = '1',
              '正向',
              '负向'
            ) AS factorDirecton,
            f.`factor_type` AS factorType,
            f.factor_value_actual AS factorValueActual,
            c.`org_name` AS nodeName,
            c.`org_code` AS nodeCode,
            c.share_percent AS sharePercent
          FROM
            z_contracts_factor f
            JOIN z_contracts c
              ON f.`contract_id` = c.`id`
          WHERE c.id IN
            (SELECT
              t.id
            FROM
              z_contracts t
            WHERE t.`parent_id` = #{contractId}
              AND t.`status` IN (1, 8)
              AND t.`contract_type` = 30)
          ORDER BY f.`factor_code`) t1
          LEFT JOIN
            (SELECT
              b.`target_code`,
              b.`target_logic` AS computeLogic,
              b.target_xw_category_code AS targetXwCategoryCode
            FROM
              z_target_basic b
            WHERE b.target_diff_type = '001'
              AND b.target_pt_code = #{ptCode}
            GROUP BY b.`target_code`
            UNION
            ALL
            SELECT
              b.`target_code`,
              b.`target_logic` AS computeLogic,
              b.target_xw_category_code AS targetXwCategoryCode
            FROM
              z_target_basic b
            WHERE b.target_diff_type = '004'
              AND b.target_pt_code = #{ptCode}
              AND b.chain_code = #{chainCode}
            GROUP BY b.`target_code`) t2
            ON t1.factorCode = t2.target_code
    </select>


    <select id="selectTyQualified" parameterType="map" resultType="integer">

        select COUNT(1) from
        (SELECT
        a.factor_value as value1,a.contract_id
        FROM
        z_contracts_factor a
        LEFT JOIN z_contracts b ON a.contract_id = b.id
        WHERE
        b.chain_code = #{chainCode}
        AND b.`status` IN (1, 8)
        AND b.contract_type = 20
        AND b.end_date > #{startTime}
        AND b.end_date <![CDATA[ < ]]> #{endTime}
        AND a.factor_code = 'T01001'
        AND a.factor_type='02') as t1

        LEFT JOIN (

        SELECT
        c.factor_value as value2,c.contract_id
        FROM
        z_contracts_factor c
        LEFT JOIN z_contracts b ON c.contract_id = b.id
        WHERE
        b.chain_code = #{chainCode}
        AND b.`status` IN (1, 8)
        AND b.contract_type = 20
        AND b.end_date > #{startTime}
        AND b.end_date <![CDATA[ < ]]> #{endTime}
        AND c.factor_code = 'T01001'
        AND c.factor_type='01') t2 on t1.contract_id=t2.contract_id
        where value1 <![CDATA[ >= ]]> value2

    </select>

    <select id="selectChainGamblingTarget" parameterType="com.haier.hailian.contract.dto.EventMiddleDTO" resultMap="BaseResultMap">
        select f.factor_code,f.factor_name,f.factor_unit,f.factor_value from z_contracts c
        join z_contracts_factor f
        on c.id = f.contract_id
        where c.contract_type='10'
        and c.chain_code = #{chainCode}
        and c.`status` != 4
        and f.factor_type='02'
        and f.region_code is NULL
        and DATE_FORMAT(c.start_date,'%Y%m') = #{date}
    </select>

</mapper>
