<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZHrChainInfoDao">

    <resultMap type="com.haier.hailian.contract.entity.ZHrChainInfo" id="ZHrChainInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="chainCode" column="chain_code" jdbcType="VARCHAR"/>
        <result property="chainName" column="chain_name" jdbcType="VARCHAR"/>
        <result property="xwCode" column="xw_code" jdbcType="VARCHAR"/>
        <result property="xwName" column="xw_name" jdbcType="VARCHAR"/>
        <result property="masterCode" column="master_code" jdbcType="VARCHAR"/>
        <result property="masterName" column="master_name" jdbcType="VARCHAR"/>
        <result property="chainPtCode" column="chain_pt_code" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="VARCHAR"/>
        <result property="fixedPosition" column="fixed_position" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ZHrChainInfoMap">
        select
          id, chain_code, chain_name, xw_code, xw_name, master_code, master_name, chain_pt_code, deleted,group_id,fixed_position,create_date
        from chain_contract.z_hr_chain_info
        where id = #{id}
    </select>


    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ZHrChainInfoMap">
        select
          id, chain_code, chain_name, xw_code, xw_name, master_code, master_name, chain_pt_code, deleted,group_id,fixed_position,create_date
        from chain_contract.z_hr_chain_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ZHrChainInfoMap">
        select
          id, chain_code, chain_name, xw_code, xw_name, master_code, master_name, chain_pt_code, deleted,group_id,fixed_position,create_date
        from chain_contract.z_hr_chain_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="chainCode != null and chainCode != ''">
                and chain_code = #{chainCode}
            </if>
            <if test="chainName != null and chainName != ''">
                and chain_name = #{chainName}
            </if>
            <if test="xwCode != null and xwCode != ''">
                and xw_code = #{xwCode}
            </if>
            <if test="xwName != null and xwName != ''">
                and xw_name = #{xwName}
            </if>
            <if test="masterCode != null and masterCode != ''">
                and master_code = #{masterCode}
            </if>
            <if test="masterName != null and masterName != ''">
                and master_name = #{masterName}
            </if>
            <if test="chainPtCode != null and chainPtCode != ''">
                and chain_pt_code = #{chainPtCode}
            </if>
            <if test="groupId != null and groupId != ''">
                and group_id = #{groupId}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into chain_contract.z_hr_chain_info(chain_code, chain_name, xw_code, xw_name, master_code, master_name, chain_pt_code, deleted,fixed_position)
        values (#{chainCode}, #{chainName}, #{xwCode}, #{xwName}, #{masterCode}, #{masterName}, #{chainPtCode}, #{deleted},#{fixedPosition})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update chain_contract.z_hr_chain_info
        <set>
            <if test="chainCode != null and chainCode != ''">
                chain_code = #{chainCode},
            </if>
            <if test="chainName != null and chainName != ''">
                chain_name = #{chainName},
            </if>
            <if test="xwCode != null and xwCode != ''">
                xw_code = #{xwCode},
            </if>
            <if test="xwName != null and xwName != ''">
                xw_name = #{xwName},
            </if>
            <if test="masterCode != null and masterCode != ''">
                master_code = #{masterCode},
            </if>
            <if test="masterName != null and masterName != ''">
                master_name = #{masterName},
            </if>
            <if test="chainPtCode != null and chainPtCode != ''">
                chain_pt_code = #{chainPtCode},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="fixedPosition != null">
                fixed_position = #{fixedPosition},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from chain_contract.z_hr_chain_info where id = #{id}
    </delete>


    <!--查询单个-->
    <select id="queryMaxOne" resultType="string">
        select
          chain_code
        from chain_contract.z_hr_chain_info
        ORDER BY id DESC
        LIMIT 0,1
    </select>


    <select id="getDepVCode" resultType="string">
        select
            distinct sne.xwCode
        from chain_contract.sys_employee_ehr sem
        left join sys_node_ehr sne on sne.nodeCode=sem.nodeCode
        where empSn =  #{userCode}
    </select>

</mapper>