<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZNodeTargetPercentInfoDao">

    <resultMap type="com.haier.hailian.contract.entity.ZNodeTargetPercentInfo" id="ZNodeTargetPercentInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="lqCode" column="lq_code" jdbcType="VARCHAR"/>
        <result property="lqName" column="lq_name" jdbcType="VARCHAR"/>
        <result property="nodeCode" column="node_code" jdbcType="VARCHAR"/>
        <result property="nodeName" column="node_name" jdbcType="VARCHAR"/>
        <result property="xwCode" column="xw_code" jdbcType="VARCHAR"/>
        <result property="xwName" column="xw_name" jdbcType="VARCHAR"/>
        <result property="targetCode" column="target_code" jdbcType="VARCHAR"/>
        <result property="targetName" column="target_name" jdbcType="VARCHAR"/>
        <result property="targetLine" column="target_line" jdbcType="VARCHAR"/>
        <result property="sharePercent" column="share_percent" jdbcType="VARCHAR"/>
        <result property="parentChainCode" column="parent_chain_code" jdbcType="VARCHAR"/>
        <result property="xwType3Code" column="xwType3Code" jdbcType="VARCHAR"/>
        <result property="xwType3" column="xwType3" jdbcType="VARCHAR"/>
        <result property="typeSharePercent" column="type_share_percent" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ZNodeTargetPercentInfoMap">
        select
          id, lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent,parent_chain_code,xwType3Code,xwType3
        from chain_contract.z_node_target_percent_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ZNodeTargetPercentInfoMap">
        select
          id, lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent
        from chain_contract.z_node_target_percent_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ZNodeTargetPercentInfoMap">
        select
          id, lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent,xwType3Code,xwType3
        from chain_contract.z_node_target_percent_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="lqCode != null and lqCode != ''">
                and lq_code = #{lqCode}
            </if>
            <if test="lqName != null and lqName != ''">
                and lq_name = #{lqName}
            </if>
            <if test="nodeCode != null and nodeCode != ''">
                and node_code = #{nodeCode}
            </if>
            <if test="nodeName != null and nodeName != ''">
                and node_name = #{nodeName}
            </if>
            <if test="xwCode != null and xwCode != ''">
                and xw_code = #{xwCode}
            </if>
            <if test="xwName != null and xwName != ''">
                and xw_name = #{xwName}
            </if>
            <if test="targetCode != null and targetCode != ''">
                and target_code = #{targetCode}
            </if>
            <if test="targetName != null and targetName != ''">
                and target_name = #{targetName}
            </if>
            <if test="targetLine != null and targetLine != ''">
                and target_line = #{targetLine}
            </if>
            <if test="parentChainCode != null and parentChainCode != ''">
                and parent_chain_code = #{parentChainCode}
            </if>
            <if test="xwType3Code != null and xwType3Code != ''">
                and xwType3Code = #{xwType3Code}
            </if>
            <if test="xwType3 != null and xwType3 != ''">
                and xwType3 = #{xwType3}
            </if>
                and share_percent is not null
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into chain_contract.z_node_target_percent_info(lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent,parent_chain_code,xwType3Code,xwType3,type_share_percent)
        values (#{lqCode}, #{lqName}, #{nodeCode}, #{nodeName}, #{xwCode}, #{xwName}, #{targetCode}, #{targetName}, #{targetLine}, #{sharePercent},#{parentChainCode},#{xwType3Code},#{xwType3},#{typeSharePercent})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update chain_contract.z_node_target_percent_info
        <set>
            <if test="lqCode != null and lqCode != ''">
                lq_code = #{lqCode},
            </if>
            <if test="lqName != null and lqName != ''">
                lq_name = #{lqName},
            </if>
            <if test="nodeCode != null and nodeCode != ''">
                node_code = #{nodeCode},
            </if>
            <if test="nodeName != null and nodeName != ''">
                node_name = #{nodeName},
            </if>
            <if test="xwCode != null and xwCode != ''">
                xw_code = #{xwCode},
            </if>
            <if test="xwName != null and xwName != ''">
                xw_name = #{xwName},
            </if>
            <if test="targetCode != null and targetCode != ''">
                target_code = #{targetCode},
            </if>
            <if test="targetName != null and targetName != ''">
                target_name = #{targetName},
            </if>
            <if test="targetLine != null and targetLine != ''">
                target_line = #{targetLine},
            </if>
           <if test="sharePercent != null and sharePercent != ''">
                share_percent = #{sharePercent},
            </if>
            <if test="parentChainCode != null and parentChainCode != ''">
                parent_chain_code = #{parentChainCode},
            </if>
            <if test="xwType3Code != null and xwType3Code != ''">
                xwType3Code = #{xwType3Code},
            </if>
            <if test="xwType3 != null and xwType3 != ''">
                xwType3 = #{xwType3},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from chain_contract.z_node_target_percent_info where id = #{id}
    </delete>


    <!--通过实体作为筛选条件查询-->
    <select id="queryByKeyWorld" resultMap="ZNodeTargetPercentInfoMap">
        select sne.nodeCode as node_code,
        sne.nodeName as node_name,
        sne.xwCode as xw_code,
        sne.xwName as xw_name,
        ztb.target_code as target_code,
        ztb.target_name as target_name,
        ztb.target_bottom_line as target_line,
        zsp.percent as share_percent
        from sys_node_ehr sne
        left join z_share_percent zsp  on zsp.xw_code = sne.nodeCode
        left join z_target_basic ztb  on ztb.target_xw_category_code = sne.nodeCode
        where  zsp.period_code= #{periodCode}
        and sne.nodeCode in
        <foreach collection="list" item="nodeCode" index="index" open="(" close=")" separator=",">
            #{nodeCode}
        </foreach>
    </select>

    <!-- 批量插入数据 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into z_node_target_percent_info
        (lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent,parent_chain_code,xwType3Code,xwType3,type_share_percent)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.lqCode},
            #{item.lqName},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.xwCode},
            #{item.xwName},
            #{item.targetCode},
            #{item.targetName},
            #{item.targetLine},
            #{item.sharePercent},
            #{item.parentChainCode},
            #{item.xwType3Code},
            #{item.xwType3},
            #{item.typeSharePercent}
            )
        </foreach>
    </insert>

    <resultMap type="com.haier.hailian.contract.entity.CDGrabTargetEntity" id="cdGrabTargetResultMap">
        <result property="targetCode" column="target_code" jdbcType="VARCHAR"/>
        <result property="targetName" column="target_name" jdbcType="VARCHAR"/>
        <result property="targetUnit" column="target_unit" jdbcType="VARCHAR"/>
        <result property="targetTo" column="target_to" jdbcType="VARCHAR"/>
        <result property="targetBottomLine" column="target_bottom_line" jdbcType="VARCHAR"/>
        <result property="sharePercent" column="share_percent" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询抢单目标底线-->
    <select id="queryCDGrabTarget" parameterType="map" resultMap="cdGrabTargetResultMap">
        SELECT
          tb.`target_code`,
          tb.`target_name`,
          tb.`target_unit`,
          tb.target_to,
          tb.`target_bottom_line`,
          tpi.`share_percent`
        FROM
          z_node_target_percent_info tpi
          JOIN z_target_basic tb
            ON tpi.`node_code` = tb.`role_code`
            AND tpi.`target_code` = tb.`target_code`
        WHERE tpi.`node_code` = #{nodeCode}
        <if test="yearMonthList != null">
            AND tb.period_code in
            <foreach collection="yearMonthList" open="(" close=")" separator=","
                     item="yearMonth" index="i">
                #{yearMonth}
            </foreach>
        </if>
          AND tb.target_pt_code = #{ptCode}
          AND tpi.lq_code = #{chainCode}
    </select>

    <!-- 查询抢单目标底线-->
    <select id="queryCDGrabTargetNew" parameterType="map" resultMap="cdGrabTargetResultMap">
        SELECT
        tpi.`target_code`,
        tpi.`target_name`,
       /* tb.`target_unit`,
        tb.target_to,
        tb.`target_bottom_line`,*/
        tpi.`share_percent`,
        (SELECT DISTINCT tb.target_unit FROM z_target_basic tb WHERE tb.target_code = tpi.`target_code` limit 1) AS target_unit
        FROM
        z_node_target_percent_info tpi
        WHERE tpi.`node_code` = #{nodeCode}
        AND tpi.lq_code = #{chainCode}
    </select>

    <select id="getCDGrabType3List" parameterType="map" resultType="com.haier.hailian.contract.dto.CDGrabType3DTO">
        SELECT
          i.`lq_code` AS lqCode,
          i.`lq_name` AS lqName,
          i.`node_code` AS nodeCode,
          i.`node_name` AS nodeName,
          i.`xwType3Code`,
          i.`xwType3`,
          IFNULL(i.`type_share_percent`, i.share_percent) AS sharePercent
        FROM
          z_node_target_percent_info i
        WHERE i.`lq_code` = #{lqCode}
        AND i.`node_code` = #{nodeCode}
        AND i.`share_percent` IS NOT NULL
        GROUP BY i.`xwType3Code`
    </select>


    <!-- 根据最小作战单元查询其相关链群-->
    <select id="selectChainByLittleXwCode"  resultMap="ZNodeTargetPercentInfoMap">
        select
        id, lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent
        FROM z_node_target_percent_info
        WHERE node_code = #{xwCode}
    </select>


    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update z_node_target_percent_info
            set share_percent = #{item.sharePercent}
            where id = #{item.id}
        </foreach>
    </update>


    <update id="updateBatchXwType3Nodes">
        update chain_contract.z_node_target_percent_info
        <set>
            <if test="lqCode != null and lqCode != ''">
                lq_code = #{lqCode},
            </if>
            <if test="lqName != null and lqName != ''">
                lq_name = #{lqName},
            </if>
            <if test="nodeCode != null and nodeCode != ''">
                node_code = #{nodeCode},
            </if>
            <if test="nodeName != null and nodeName != ''">
                node_name = #{nodeName},
            </if>
            <if test="xwCode != null and xwCode != ''">
                xw_code = #{xwCode},
            </if>
            <if test="xwName != null and xwName != ''">
                xw_name = #{xwName},
            </if>
            <if test="targetCode != null and targetCode != ''">
                target_code = #{targetCode},
            </if>
            <if test="targetName != null and targetName != ''">
                target_name = #{targetName},
            </if>
            <if test="targetLine != null and targetLine != ''">
                target_line = #{targetLine},
            </if>
            <if test="sharePercent != null and sharePercent != ''">
                share_percent = #{sharePercent},
            </if>
            <if test="parentChainCode != null and parentChainCode != ''">
                parent_chain_code = #{parentChainCode},
            </if>
            <if test="typeSharePercent != null and typeSharePercent != ''">
                type_share_percent = #{typeSharePercent},
            </if>
        </set>
        where lq_code = #{lqCode} and share_percent is not null and xwType3Code = #{xwType3Code}
    </update>


    <!-- 创单抢单数据-->
    <select id="queryCDGrabDataXWType3" parameterType="map" resultType="com.haier.hailian.contract.dto.CDGrabType3">
        SELECT
          i.`lq_code`,
          i.`xwType3Code`,
          i.`xwType3` AS xwType3Name,
          IFNULL(i.`type_share_percent`, i.share_percent) AS sharePercent,
          '0' AS countTotal
        FROM
          z_node_target_percent_info i
        WHERE i.`lq_code` IN
          (SELECT
            chain_code
          FROM
            z_contracts
          WHERE id = #{contractId})
          AND i.`share_percent` IS NOT NULL
          AND i.`xwType3Code` IS NOT NULL
          <if test=" keyword != null and keyword != '' ">
            AND i.xwType3 LIKE CONCAT('%',#{keyword}, '%')
          </if>
        GROUP BY i.`xwType3Code`
    </select>

    <select id="selectListByXwType3Code" parameterType="map" resultMap="ZNodeTargetPercentInfoMap" >
        select
          id, lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent,parent_chain_code,xwType3Code,xwType3
        from chain_contract.z_node_target_percent_info
        where lq_code = #{lqCode} AND share_percent IS NOT NULL
        GROUP BY xwType3Code
    </select>

    <select id="selectChildListByXwType3Code" parameterType="map" resultMap="ZNodeTargetPercentInfoMap" >
        select
          id, lq_code, lq_name, node_code, node_name, xw_code, xw_name, target_code, target_name, target_line, share_percent,parent_chain_code,xwType3Code,xwType3
        from chain_contract.z_node_target_percent_info
        where lq_code = #{lqCode} AND share_percent IS NOT NULL AND parent_chain_code=#{parentChainCode}
        GROUP BY xwType3Code
    </select>


    <delete id="deleteListByXwType3Code" parameterType="map">
        delete from chain_contract.z_node_target_percent_info where lq_code = #{lqCode} and xwType3Code=#{xwType3Code} and share_percent IS NOT NULL
    </delete>



    <!-- 举单页，根据链群编码，查询链群下的资源类型和最大数量-->
    <resultMap type="com.haier.hailian.contract.dto.ContractXwType3DTO" id="xwType3Map">
        <result property="xwType3" column="xwType3" />
        <result property="xwType3Code" column="xwType3Code" />
        <result property="maxNumber" column="maxNumber" />
    </resultMap>
    <select id="selectXwType3ListByChainCode" parameterType="java.lang.String" resultMap="xwType3Map" >
        select t.xwType3Code,t.xwType3,count(t.node_code) as maxNumber  from z_node_target_percent_info t
        where t.lq_code=#{chainCode} and t.share_percent is not NULL
        GROUP BY t.xwType3Code
    </select>

</mapper>
