<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZProductChainDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZProductChain">
        <id column="id" property="id" />
        <result column="product_series" property="productSeries" />
        <result column="model_name" property="modelName" />
        <result column="model_code" property="modelCode" />
        <result column="chain_code" property="chainCode" />
        <result column="scene_name" property="sceneName" />
        <result column="month" property="month" />
    </resultMap>
    <select id="selectSeriesByChainCode" resultMap="BaseResultMap">
        select DISTINCT product_series,scene_name from z_product_chain
        where chain_code = #{chainCode}
        and month = #{month}
    </select>


    <select id="selectChainProductList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select t.chain_code,c.chain_name,t.`month`
        from z_product_chain t
        LEFT JOIN z_hr_chain_info c
        on t.chain_code = c.chain_code
        where c.master_code = #{userCode}
        GROUP BY t.chain_code,t.`month`
        ORDER BY t.`month` DESC,t.chain_code
    </select>

</mapper>
