<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZProductChainDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZProductChain">
        <id column="id" property="id" />
        <result column="product_series" property="productSeries" />
        <result column="model_name" property="modelName" />
        <result column="model_code" property="modelCode" />
        <result column="chain_code" property="chainCode" />
    </resultMap>
    <select id="selectSeriesByChainCode" resultMap="BaseResultMap">
        select DISTINCT product_series from z_product_chain
        where chain_code = #{chainCode}
    </select>

</mapper>
