<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZReservePlanDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZReservePlan">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="order_type" property="orderType" />
        <result column="title" property="title" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="remind_type" property="remindType" />
        <result column="remind_time" property="remindTime" />
        <result column="is_important" property="isImportant" />
        <result column="executer" property="executer" />
        <result column="senduser" property="senduser" />
        <result column="teamworker" property="teamworker" />
        <result column="executer_view" property="executerView" />
        <result column="senduser_view" property="senduserView" />
        <result column="teamworker_view" property="teamworkerView" />
        <result column="create_user_code" property="createUserCode" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_user_time" property="createUserTime" />
        <result column="task_code" property="taskCode" />
    </resultMap>

    <select id="selectRoleByUser" parameterType="java.lang.String"
            resultType="com.haier.hailian.contract.entity.SysRole">
        SELECT
        role.id,
        role.NAME AS name,
        role.role_code AS roleCode
        FROM
        sys_role role
        LEFT JOIN sys_user_role_ehr ur ON ur.role_code = role.role_code
        WHERE
        ur.empsn =  #{empSn,jdbcType=VARCHAR}
    </select>
</mapper>
