<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.hailian.contract.dao.ZReservePlanDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.hailian.contract.entity.ZReservePlanDetail">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="cost" property="cost" />
        <result column="term" property="term" />
        <result column="liable" property="liable" />
    </resultMap>

    <select id="getByContract" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select plan.* from z_contracts zc join  z_reserve_plan_detail plan on zc.id=plan.parent_id
        where zc.parent_id=#{contractId} and zc.contract_type='30'
    </select>

</mapper>
